$background-color: rgb(238, 238, 238);
$text-color: rgb(12, 12, 12);
$error-color: rgb(202, 34, 34);

body {
  background-color: $background-color;
  color: $text-color;
}

.tab-buttons {
  position: absolute;
  right: 2%;
  top: 4px;
}

.log-out-button {
  position: relative;
  float: right;
}

.error-message {
  color: $error-color;
}